/**
 * Marketing - Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");
@import url("components/carousel.css");
@import url("components/colors.css");
@import url("components/frontpage.css");
@import url("components/override.css");

.wp-block-separator:not(.is-style-dots) {
	background-color: var(--go--color--secondary);
	background-position: 50%;
	background-repeat: repeat-x;
	border: none;
	height: 9pt;
	mask-image: url("../../../dist/images/design-styles/marketing/cross-stich-border.svg");
	max-width: 113px !important;
}

.wp-block-separator.is-style-dots:not(.has-text-color)::before {
	color: var(--go--color--secondary);
}

.wp-block-pullquote p {
	margin-left: 1em;

	&::before {
		content: "“";
		font-size: 2em;
		line-height: 1;
		position: absolute;
		transform: translate3d(-120%, 0, 0);

		@media (--medium) {
			font-size: 3em;
		}
	}
}

@media (--medium) {

	.header__inner {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

}

.header--logo {
	display: flex;
	flex-direction: row;
	text-decoration: none;
}

.header--logo:hover {
	text-decoration: none;
}

.header-fixed {
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	position: fixed;
	width: 100%;
}

.header-fixed a:focus {
	outline-color: var(--go--color--secondary);
	outline-width: 3px;
}

.has-header-fixed {
	padding-top: 3.8rem;
}

@media (--medium) {

	.has-header-fixed {
		padding-top: 5rem;
	}

}

.twc-main-nav-inverted {
	--go-navigation--color--text: var(--go--color--white);
	--go-search-toggle--color--text: var(--go--color--white);
	--go-header--color--background: var(--go--color--primary);
	--go-navigation--color--logo-secondary: var(--go-heading--color--text);
	--go--color--logo-icon--inverted: var(--go--color--primary);
	--go--color--logo-icon-bg--inverted: #fff;
}

.twc-logo {
	height: 2rem;
}

@media (--large) {

	.twc-logo {
		height: 3rem;
	}

}

.twc-logo-icon {
	color: var(--go--color--logo-icon--inverted, #fff);
	stroke: var(--go--color--logo-icon-bg--inverted, var(--go--color--primary));
	stroke-dasharray: 950;
	stroke-dashoffset: 950;
	animation: draw-logo 3s ease-in-out forwards;
}

@keyframes draw-logo {

	to {
		color: var(--go--color--logo-icon-bg--inverted, var(--go--color--primary));
		stroke-dashoffset: 0;
	}

}

.header-fixed .header__navigation a {
	display: block;
	position: relative;
	text-decoration: none;
}

.header-fixed .header__navigation a[aria-current="page"]::before,
.header-fixed .header__navigation a:hover::before {
	background: var(--go-navigation--color--text);
	content: "";
	display: block;
	height: 0.25rem;
	left: 0;
	margin-top: 0.25rem;
	position: absolute;
	top: 100%;
	width: 100%;
}

#header__navigation[aria-hidden="false"] a::before {
	width: auto;
}

.site-footer .twc-logo-first .fa-primary {
	color: var(--go--color--white);
	color: var(--go-heading--color--logo-first-primary);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
	filter: brightness(96%);
}

/* I once saw i Userlike tracking pixel which
   broke the site layout at the bottom of the page. */
.userlike-tracking-img {
	display: none;
}
